/* Checkbox Four */
.checkboxFour
	{
		width: 1.25em;
		height: 1.25em;
		background: transparent;
		margin: 0.75rem;
		diplay: inline;
		border-radius: 100%;
		position: relative;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	}
/* Create the checkbox button */
body 
	{
		background: 
			linear-gradient(
				rgba(0,0,0,.85), 
				rgba(0,0,0,.85)
						),
			url(bg1.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
.checkboxFour label
	{
		display: block;
		width: 0.75em;
		height: 0.75em;
		border-radius: 100px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 0.25em;
		left: 0.25em;
		z-index: 1;
		background: #999;
		-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	}
.checkboxFour input[type=checkbox]:checked + label
	{
		background: #30b893;
	}
.checkboxFive 
	{
		width: 1.25em;
		height: 1.25em;
		background: transparent;
		margin: 0.75rem;
		diplay: inline;
		border-radius: 100%;
		position: relative;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	}
.checkboxFive label
	{
		display: block;
		width: 0.75em;
		height: 0.75em;
		border-radius: 100px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 0.25em;
		left: 0.25em;
		z-index: 1;
		background: #999999;
		-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	}
.checkboxFive input[type=checkbox]:checked + label
	{
		background: #30b893;
	}
input[type=checkbox] 
	{
		visibility: hidden;
	}
.checkboxSix
	{
		width: 1.25em;
		height: 1.25em;
		background: transparent;
		margin: 0.75rem;
		diplay: inline;
		border-radius: 100%;
		position: relative;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	}	
.checkboxSix label 
	{	
		display: block;
		width: 0.75em;
		height: 0.75em;
		border-radius: 100px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 0.25em;
		left: 0.25em;
		z-index: 1;
		background: #999;
		-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	}
.checkboxSix input[type=checkbox]:checked + label 
	{
		background: #30b893;
	}
.checkboxSeven 
	{
		width: 1.25em;
		height: 1.25em;
		background: transparent;
		margin: 0.75rem;
		diplay: inline;
		border-radius: 100%;
		position: relative;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		}
.checkboxSeven label 
	{
		display: block;
		width: 0.75em;
		height: 0.75em;
		border-radius: 100px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 0.25em;
		left: 0.25em;
		z-index: 1;
		background: #999;
		-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	}
.checkboxSeven input[type=checkbox]:checked + label 
	{
		background: #30b893;
	}

.tex
	{
		margin-left: 1.8rem;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 0.9rem;
		color: #e5e5e5;
	}
.aint
	{
		margin-left: 1.5rem;
		font-size: 1rem;
		font-family: 'Open Sans';
		font-weight: 300;
		color: #e5e5e5;
	}
.form 
	{
		background: transparent; 
		padding: 40px;
		width: 33%;
		margin: 0 auto;
		text-align:center;
	}
.formpre 
	{
		background: transparent; 
		padding-top: 8em;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
	}
div.header
	{
		position: fixed;
		width: 100%;
		top: 1.9em;
		right: 3.5em;
		z-index: 1;
		background-color: transparent;
		text-align: right;
		text-decoration: none;
		line-height: 1.7rem;
	}
div.headerh
	{	
		z-index: 2;
		width: 100%;
		background-color: transparent;
		text-align: left;
		text-decoration: none;
		margin: 0 auto;
		position: fixed;
		top: 1.6em;
		color: #00ffba;
	}
#main1
	{
		color: #FFFFFF;
		font-family: 'Fredoka One', cursive;
		font-size: 1.65rem;
		letter-spacing: 0.07rem;
	}
#main2
	{
		color: #FFFFFF;
		font-family: 'Fredoka One', cursive;
		font-size: 1.65rem;
		letter-spacing: 0.07rem;
	}
#submain
	{
		color: #00ffba;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		font-size: 0.8rem;
	}
.sidenav 
	{
		height: 100%;
		width: 0;
		position: fixed;
		overflow-x: scroll;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		text-align: left;
	}
.multiselect 
	{
	width: 20em;
	text-align: center;
	}
.selectBox 
	{
		position: relative;
	}
.selectBox select 
	{
		width: 100%;
		font-size: 0.95rem;
	}
.overSelect 
	{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
 /* Let's get this party started */
::-webkit-scrollbar 
	{
		width: 4px;
	}
::-webkit-scrollbar-track
	{
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
 ::-webkit-scrollbar-thumb 
	{
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(0,0,0,0.6); 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
	}
::-webkit-scrollbar-thumb:window-inactive 
	{
		background: rgba(128,128,128,0.4); 
	}
.sidenav a.lpl 
	{
		font-family: 'Lato', sans-serif;
		padding: 0 0 0 32px;
		text-decoration: none;
		font-size: 25px;
		color: #9a9a9a;
		display: block;
		transition: 0.3s;
	}
.sidenav a.lpl:hover 
	{
		color: #ffffff;
	}
.sidenav a 
	{
		font-family: 'Lato', sans-serif;
		padding: 8px 0 0 32px;
		text-decoration: none;
		font-size: 25px;
		color: #747474;
		display: block;
		transition: 0.3s;
	}
.sidenav a.uppl:hover 
	{
		color: #f1f1f1;
		font-family: 'Lato', sans-serif;
	}
.sidenav a.uppl 
	{
		font-family: 'Lato', sans-serif;
		padding: 8px 0 0 32px;
		text-decoration: none;
		font-size: 1rem;
		color: #747474;
		display: block;
		transition: 0.3s;
		font-weight: 300;
	}
.sidenav a:hover 
	{
		color: #f1f1f1;
	}
.sidenav .closebtn 
	{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
#upl
	{
		font-family: 'Lato', sans-serif;
		font-size: 1rem;
		color: #747474;
	}
.sidenav a.lpl 
	{
		font-family: 'Lato', sans-serif;
		padding: 0.8rem 0 0 32px;
		text-decoration: none;
		font-size: 0.9rem;
		color: #00ffba;
		display: block;
		transition: 0.3s;
}
.sidenav a.lpl:hover 
	{
		color: #ffffff;
	}
.sidenav a 
	{
		font-family: 'Lato', sans-serif;
		padding: 8px 0 0 32px;
		text-decoration: none;
		font-size: 25px;
		color: #747474;
		display: block;
		transition: 0.3s;
	}
.sidenav a.uppl:hover 
	{
		color: #f1f1f1;
		font-family: 'Lato', sans-serif;
	}
.sidenav a.uppl 
	{
		font-family: 'Lato', sans-serif;
		padding: 8px 0 0 32px;
		text-decoration: none;
		font-size: 1rem;
		color: #747474;
		display: block;
		transition: 0.3s;
		font-weight: 300;
	}
.sidenav a:hover 
	{
		color: #f1f1f1;
	}
.sidenav .closebtn 
	{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
span.s1
	{
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		color: #ffffff;
		font-size: 1rem;
		letter-spacing: 0.07rem;
	}
span.s2
	{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		color: #ffffff;
		font-size: 3rem;
		opacity: 1;
	}
span.s3
	{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		color: #ffffff;
		font-size: 1em;
	}
.field-wrap 
	{
		position: relative;
		margin-bottom: 2.7em;
	}
input.name, textarea, select
	{
		width: 100%;
		padding: 0.6rem 1rem;
		background: transparent;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 0.08em solid #7f7f7f;
		border-width: 80%;
		color: #ffffff;
		-webkit-transition: border-color .5s ease, box-shadow .5s ease;
		transition: border-color .5s ease, box-shadow .5s ease;
		font-family: 'Open Sans';	
		font-weight: 300;
		font-size: 1rem;
	}
.field-wrap label.active 
	{
		-webkit-transform: translateY(-1rem);
		transform: translateY(-1rem);
		left: 0.2rem;
		font-size: 0.8rem;
		font-family: 'Open Sans', sans-serif;
		font-weight:300;
	}
.field-wrap label.active .req 
	{
		opacity: 0;
	}
.field-wrap label.highlight 
	{
		color: #ffffff;
	}
input.name:focus, textarea:focus 
	{
		outline: 0;
		border-color: #00ffba;
		box-shadow: 0 0.5em 6px -6px #00ffba;
	}
textarea 
	{
		border: 2px solid #a0b3b0;
		resize: vertical;
	}
*, *:before, *:after 
	{
		box-sizing: border-box;
	}
.field-wrap label 
	{
		position: absolute;
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
		left: 1.1rem;
		color: #f1f1f1;
		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
		-webkit-backface-visibility: hidden;
		pointer-events: none;
		font-size: 1rem;
		font-family: 'Open Sans';
		font-weight: 300;
	}
input.name, input.email, input.class, input.section, input.mn, input.regno, input.pw1, input.pw2, textarea, select
	{
		width: 100%;
		padding: 0.6rem 1rem;
		background: transparent;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 0.08em solid #7f7f7f;
		border-width: 80%;
		color: #ffffff;
		-webkit-transition: border-color .5s ease, box-shadow .5s ease;
		transition: border-color .5s ease, box-shadow .5s ease;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1rem;
	}
input.name:focus, input.email:focus, input.class:focus, input.section:focus, input.mn:focus, input.regno:focus, input.pw1:focus, input.pw2:focus, textarea:focus 
	{
		outline: 0;
		border-color: #00ffba;
		box-shadow: 0 0.5em 6px -6px #00ffba;
	}
form.gg
	{
		width: 90vw;
		margin: 0 auto;
	}
input[type=submit] 
	{
		width: 7em;
		background-color: transparent;
		color: white;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		color: #FFFFFF;
		font-size: 1rem;
		letter-spacing: 0.05rem;
		text-shadow: 0.2em 0.2em 1em #B7B7B7;
	}
input[type=submit]:hover 
	{
		background-color: transparent;
		transition: 0.5s;
		text-shadow: 0.1em 0.1em 0.2em #CCCCCC;
	}
div.sub
	{
		width: 100%;
		text-align: left;
	}

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background: 
			linear-gradient(
				rgba(0,0,0,.85), 
				rgba(0,0,0,.85)
						),
			url(bg2.png);
	}
	#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	#section2{
		background-image: url(imgs/bg3.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background: #201e1c;
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #fff;
	}


	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(imgs/bg2.jpg);
		padding: 6% 0 0 0;
	}
	#slide2{
		background-image: url(imgs/bg5.jpg);
		padding: 6% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}
#t1
	{
		margin: 0 auto;
		text-align:center;
	}
#rx2
	{
		border-style: solid;
		border-width: 1.8em;
		border-color: transparent;
		text-decoration: none;
	}
#al{
	text-decoration: none;
    color: white;
    }
div.rcornersb4f
	{	
		border: 2px solid white;
		border-radius: 0.8em;
		padding: 0em; 
		width: 20em;
		height: 3em;    
		background: transparent;
		display: inline-block;
		transition: 1s;
	}
a:hover div.rcornersb4f
	{	
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
		border: 2px solid #00ffba;
		transition: 0.5s;
		-moz-box-shadow: 0 0.5em 6px -6px #00ffba;
		-webkit-box-shadow: 0 0.5em 6px -6px #00ffba;
        box-shadow: 0 0.5em 6px -6px #00ffba;
	}
div.c1 {
	font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 0.01rem;
    text-align: center;
    padding-top: 0.8em;
    font-size: 1rem;
    }
a.cred:link, a.cred:visited
	{
		color: #201e1c;
		font-family: 'Raleway', sans-serif;
		font-size: 0.5rem;
		text-decoration: none;
		transition: 1s;
	}
a.cred:hover
	{
		color: #00ffba;
		font-family: 'Raleway', sans-serif;
		font-size: 0.5rem;
		text-decoration: none;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: 1s;
	}	
a.footer:link, a.footer:visited
	{
		color: #f1f1f1;
		text-decoration: none;
		display: inline-block;
		transition: 1s;
	}
a.footer:hover
	{
		color: #00ffba;
		text-decoration: none;
		display: inline-block;
		transition: 1s;
	}
div.footer
	{
		margin: auto;
		width: 100%;
		text-align: center;
	}
#thd
	{
		padding-top: 0.5rem;
		padding-bottom: 0.9rem;
		font-size: 0.95rem;
		width: 30%;
		letter-spacing: 0.06rem;
		color: #f1f1f1;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-align: left;
		
	}
#thd2
	{
		font-size: 0.95rem;
		width: 30%;
		letter-spacing: 0.06rem;
		color: #323C45;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-align: left;
		text-shadow: 0.1rem 0.1rem 0.2rem #EEEEEE;
	}
#foot
	{
		font-size: 0.8rem;
		width: 30%;
		color: #f1f1f1;
		letter-spacing: 0.06rem;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		text-align: left;
		text-decoration: none;
	}
#foot1
	{
		font-size: 0.8rem;
		width: 30%;
		color: #f1f1f1;
		letter-spacing: 0.06rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-align: left;
		text-decoration: none;
	}
#footx
	{
		font-size: 0.6rem;
		width: 30%;
		color: #f1f1f1;
		letter-spacing: 0.06rem;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		text-align: left;
		text-decoration: none;
	}
a.footl1:link, a.footl1:visited
	{
		color: #f1f1f1;
		padding-top: 0.5rem;
		padding-bottom: 0.9rem;
		font-size: 0.95rem;
		width: 30%;
		letter-spacing: 0.06rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-align: left;
		transition: 1s;
		text-decoration: none;
	}
a.footl1:hover
	{
		color: #00ffba;
		text-decoration: none;
		padding-top: 0.5rem;
		padding-bottom: 0.9rem;
		font-size: 0.95rem;
		width: 30%;
		letter-spacing: 0.06rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-align: left;
		transition: 1s;
	}
div.footc
	{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 1rem;
		color: #f1f1f1;
	}
div.footcx
	{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 0.9rem;
		color: #f1f1f1;
	}
a.footc:link,a.footc:visited
	{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 1rem;
		color: #f1f1f1;
		text-decoration: none;
		transition: 1s;
	}
a.footc:hover
	{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 1rem;
		color: #00ffba;
		text-decoration: none;
		transition: 1s;
	}
a.footcx:link,a.footcx:visited
	{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 0.9rem;
		color: #f1f1f1;
		text-decoration: none;
		transition: 1s;
	}
a.footcx:hover
	{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 0.9rem;
		color: #00ffba;
		text-decoration: none;
		transition: 1s;
	}